.links {
    display: flex;
    justify-content: space-between;
    background-color: #F4F4F4;
    padding: 10px 30px;
    text-align: center;
}

.link {
    text-decoration: none;
    color: #635c73;
    font-size: 18px;
    font-weight: 700;
    line-height: 15px;
    padding: 5px 15px;
    letter-spacing: 1px;
}
.link:hover{
    background-color: #6B5F86;
    color: white;
    transition: 1s;
    border-radius: 8px;
}

.active-link {
    background-color: #6B5F86;
    color: white;
    border-radius: 8px;
}